html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.message-box {
    max-width: 31.25rem;
    margin: 1.25rem auto;
    padding: 0.9375rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.375rem rgba(0,0,0,0.1);
    text-align: center;
}